asgiref==3.8.1
bcchapi==1.1.2
certifi==2025.4.26
charset-normalizer==3.4.2
Django==5.2.1
idna==3.10
mysqlclient==2.2.7
numpy==2.2.6
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0

#Consideraciones importanes - se debe activar el entorno virtual para ejecutar el servidor
#venv\Scripts\activate
#pip install -r requirements.txt o py -m pip install -r requirements.txt
#py manage.py runserver
